#chat-area {
    height: 700px;
    overflow-y: scroll;
}

.messageCandidate {
    background: rgba(223, 229, 121, 0.9);
    padding: 20px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messageYou {
    background: rgba(0, 167, 204, 0.9);
    padding: 20px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 5px;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

.coolest-thing-on-this-site > iframe {
    height: 768px;
    width: 1310px;
    /*extra width to account for scroll bar haha (its meant to be 1280)*/
}